
.container{
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 20px;
    background-color: rgb(98, 103, 98);
    
}

hr.solid{
    border-top: 2px solid black;
}

img{
    width: 250px;
}